{{!< layouts/main}}

<section class="artist-header">
    <h1>Our Talented Tattoo Artists</h1>
<br>
    <div class="artist">
        <h2>Emily Thompson</h2>
        <p>Specialty: Watercolor, Realism</p>
        <p>Emily brings a unique blend of watercolor and realism to her art, creating stunning and lifelike tattoos.</p>
    </div>
<br>
    <div class="artist">
        <h2>Jack Miller</h2>
        <p>Specialty: Traditional, Neo-Traditional</p>
        <p>With a passion for traditional and neo-traditional styles, Jack's work is known for bold lines and vibrant colors.</p>
    </div>
<br>
       <div class="artist">
        <h2>Christopher Hudson</h2>
        <p>Specialty: American Traditional, Black/Gray Work</p>
        <p> Chris enjoys art that involves heavy color and stylists design. Mixing modern with minimal.</p>
    </div>
</section>