<!DOCTYPE html>
<html>
<head>
    <title>Generate Tattoo Idea</title>
</head>
<body>
    <h1>Generate a Design Prompt</h1>
    <p>Use the following image as inspiration for your tattoo design:</p>
    <img src="{{ image }}" alt="Unsplash Image">
</body>
</html>
