{{!< layouts/main}}

<section class="artist-header">
    <h1>Generate Tattoo Idea</h1>
    <center><p>Use an image to come up with an idea.</p></center>
    {{#if image}}
        <center><img src="{{ image }}" alt="Unsplash Image" style="width: 400px; height: 400px; auto;"></center>
    {{else}}
        <p>Error fetching image. Please try again later.</p>
    {{/if}}
</section>