body {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    background-color: #111;
    color: white;
    margin: 0;
    padding: 0;
}

header {
    background-color: #222;
    /* Slightly lighter background for the header */
    color: white;
    text-align: center;
    padding: 20px 0;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

h1 {
    font-size: 36px;
    margin: 0;
    margin-top: 20px;
    letter-spacing: 1px;
    text-align: center;
}

h2 {
    text-align: center;
    margin-top: 10px;
    font-size: 28px;
}

.container {
    max-width: 960px;
    margin: 0 auto;
    padding: 20px;
}

/* Create .tab for each element */
ul.tabs {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: center;
    background-color: #222;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

ul.tabs li {
    margin: 0;
}

ul.tabs li a {
    color: #ddd;
    text-decoration: none;
    padding: 10px 20px;
    display: block;
    transition: background-color 0.3s;
    font-weight: bold;
}

ul.tabs li a:hover {
    background-color: darkviolet;
}

.tab-content {
    background-color: #111;
    padding: 20px;
    border: 1px solid #333;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    color: #eee;
    line-height: 1.6;
    text-align: center;
}

.tab-content h2 {
    color: #fff;
    font-size: 26px;
    margin-top: 0;
}

.tab-content p {
    margin: 0 0 20px;
}

/* Seperate footer design */
footer {
    background-color: #222;
    color: #bbb;
    text-align: center;
    padding: 10px 0;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

/* Create seperate tab content */
.tab-content {
    text-align: center;
    padding: 20px;
}


/* Create design for database table, foratting */
.appointment-table {
    max-width: 600px;
    margin: 0 auto;
}

.appointment-table th,
.appointment-table td {
    padding: 10px;
    border: 1.5px solid white;
    text-align: center;
}

.appointment-table thead {
    background-color: #333;
    color: white;
}

.appointment-table th {
    text-transform: uppercase;
}

.appointment-table tbody tr:nth-child(even) {
    background-color: black;
}

.appointment-table tbody tr:hover {
    background-color: darkviolet;
}

/* form seperation, based on inputs*/
.form-group {
    margin-bottom: 10px; /* Spacing between form groups */
}

.form-group label {
    display: block;
    margin-bottom: 3px;
    color: white;
}

/* Creating uniform input styling*/
.form-group input[type="text"],
.form-group input[type="email"],
.form-group input[type="date"],
.form-group input[type="time"]{
    width: 10%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.form-group button {
    padding: 10px;
    margin-top: 15px;
    width: 15%;
    height: 50px;
    background-color: #444;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.form-group button:hover {
    background-color: darkviolet;
}

.form-group select {
    width: 11%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    color: #333; 
}

/* Artist info page, make it same for all artists listed*/
.artist {
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 15px;
    margin-bottom: 20px;
    background-color: #222;
}

.artist h2 {
    margin-top: 0;
    font-size: 28px;
    background-color: #222;
}

.artist p {
    margin: 10px 0;
    font-size: 16px;
    text-align: center;
    background-color: #222;
}

.artist-header h1{
    font-size: 28px;
}

.index-list {
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 15px;
    text-align: center;
    margin-bottom: 20px;
}

.index-list ul{
    list-style-type: none;
}

.index-list img{
    height: 400px;
    width: 750px;
    background-color: #111;
}
