<!DOCTYPE html>
<html>

<head>
    <title>Darkside Tattoo</title>
    <link rel="stylesheet" type="text/css" href="/css/style.css">
</head>
<h1>DARKSIDE TATTOO</h1>
<body>

    <!-- Tab navigation -->
    <ul class="tabs">
        <li><a href="/index">Home</a></li>
        <li><a href="/info">Info</a></li>
        <li><a href="/schedule">Schedule</a></li>
        <li><a href="/unsplash">Tattoo Idea Generator</a></li>
        <li><a href="/appointments-table">Appointments</a></li>
        <!-- Add pages as needed-->
    </ul>
    {{{body}}}
</body>
<footer>
    <p>&copy; 2023 Darkside Tattoo</p>
</footer>

</html>