<!DOCTYPE html>
<html>
<head>
    <title>Darkside Tattoo</title>
    <link rel="stylesheet" type="text/css" href="/css/style.css">
</head>
<body>
    <h1>Darkside Tattoo</h1>

    <!-- Tab navigation -->
    <ul>
        <li><a href="/index">Home</a></li>
        <li><a href="/about">About</a></li>
        <li><a href="/appointments-table">Appointments</a></li>
        <li><a href="/schedule">Schedule</a></li>
        <!-- Add pages as needed-->
    </ul>

    <!-- Tab content -->
    {{{body}}}
</body>
</html>
